<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.clab.mpf.shop.business.repository.merchants.MerchantsCategoryMapper">
	<resultMap id="BaseResultMap" type="io.clab.mpf.shop.business.entity.merchants.MerchantsCategory">
		<id column="mc_id" property="mcId" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getAll" resultMap="BaseResultMap" >
		select * from t_category a
	</select>
</mapper>