<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.clab.mpf.shop.business.repository.uuser.DataItemMapper">
	<resultMap id="BaseResultMap" type="io.clab.mpf.shop.business.entity.uuser.DataItem">
		<id column="di_id" property="diId" jdbcType="INTEGER" />
		<result column="merchants_id" property="merchantsId" jdbcType="INTEGER" />
		<result column="di_source" property="diSource" jdbcType="INTEGER" />
		<result column="di_type" property="diType" jdbcType="INTEGER" />
		<result column="di_name" property="diName" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="send_points" property="sendPoints" jdbcType="INTEGER" />
		<result column="upload_file_name" property="uploadFileName" jdbcType="VARCHAR" />
		<result column="right_num" property="rightNum" jdbcType="INTEGER" />
		<result column="error_num" property="errorNum" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		
		<result column="totalPay" property="totalPay" jdbcType="INTEGER" />
		<result column="totalIncome" property="totalIncome" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="AssetsStatisticalResultMap" type="io.clab.mpf.shop.business.entity.uuser.AssetsCount">
		<result column="uploadTimes" property="uploadTimes" jdbcType="INTEGER" />
		<result column="uploadNum" property="uploadNum" jdbcType="INTEGER" />
		<result column="buyTimes" property="buyTimes" jdbcType="INTEGER" />
		<result column="buyNum" property="buyNum" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		*
		from t_data_item a
		where
		a.di_id = #{diId,jdbcType=INTEGER}
	</select>
	
	<select id="selectByMerchantsIdList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		*
		from t_data_item a
		where
		a.merchants_id = #{merchantsId,jdbcType=INTEGER}
	</select>
	
	<select id="selectAssetsStatisticalByMerchantsId" resultMap="AssetsStatisticalResultMap" parameterType="java.lang.Long">
		select 
			SUM(if(t.di_source = 1,1,0)) as uploadTimes,
			SUM(if(t.di_source = 0,1,0)) as buyTimes,
			SUM(if(t.di_source = 1,t.uploadNum,0)) as uploadNum,
			SUM(if(t.di_source = 0,t.buyNum,0)) as buyNum
		from 
			(select 
				di.merchants_id, 
				di.di_id,
				di.di_source,
				COUNT(DISTINCT du.uuser_id,if(di.di_source = 1,true,null)) as uploadNum,
				COUNT(DISTINCT du.uuser_id,if(di.di_source = 0,true,null)) as buyNum 
			from t_data_item di LEFT JOIN t_di_uuser du ON di.di_id=du.di_id 
			where di.merchants_id = #{merchantsId,jdbcType=INTEGER}
			group by di.merchants_id, di.di_id,di.di_source) t 
		group by t.merchants_id
	</select>
	
	<insert id="insertSelectiveEntity" useGeneratedKeys="true" keyProperty="diId" parameterType="io.clab.mpf.shop.business.entity.uuser.DataItem">
		insert into t_data_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test=" merchantsId != null">
				merchants_id,
			</if>
			<if test=" diSource != null">
				di_source,
			</if>
			<if test=" diType != null">
				di_type,
			</if>
			<if test=" diName != null">
				di_name,
			</if>
			<if test=" description != null">
				description,
			</if>
			<if test=" sendPoints != null">
				send_points,
			</if>
			<if test=" uploadFileName != null">
				upload_file_name,
			</if>
			<if test=" rightNum != null">
				right_num,
			</if>
			<if test=" errorNum != null">
				error_num,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test=" merchantsId != null">
				#{merchantsId,jdbcType=INTEGER},
			</if>
			<if test=" diSource != null">
				#{diSource,jdbcType=INTEGER},
			</if>
			<if test=" diType != null">
				#{diType,jdbcType=INTEGER},
			</if>
			<if test=" diName != null">
				#{diName,jdbcType=VARCHAR},
			</if>
			<if test=" description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test=" sendPoints != null">
				#{sendPoints,jdbcType=INTEGER},
			</if>
			<if test=" uploadFileName != null">
				#{uploadFileName,jdbcType=VARCHAR},
			</if>
			<if test=" rightNum != null">
				#{rightNum,jdbcType=INTEGER},
			</if>
			<if test=" errorNum != null">
				#{errorNum,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="io.clab.mpf.shop.business.entity.merchants.Merchants">
		update t_data_item
		<set>
			<if test=" merchantsId != null">
				merchantsId = #{merchantsId,jdbcType=INTEGER},
			</if>
			<if test=" diSource != null">
				diSource = #{diSource,jdbcType=INTEGER},
			</if>
			<if test=" diType != null">
				diType = #{diType,jdbcType=INTEGER},
			</if>
			<if test=" diName != null">
				diName = #{diName,jdbcType=VARCHAR},
			</if>
			<if test=" description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test=" sendPoints != null">
				sendPoints = #{sendPoints,jdbcType=INTEGER},
			</if>
			<if test=" uploadFileName != null">
				uploadFileName = #{uploadFileName,jdbcType=VARCHAR},
			</if>
			<if test=" rightNum != null">
				rightNum = #{rightNum,jdbcType=INTEGER},
			</if>
			<if test=" errorNum != null">
				errorNum = #{errorNum,jdbcType=INTEGER},
			</if>
		</set>
		where di_id = #{diId,jdbcType=INTEGER}
	</update>

</mapper>