<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.clab.mpf.shop.dao.user.UserPaymentMapper">
	<resultMap id="BaseResultMap" type="io.clab.mpf.shop.entity.user.UserPayment">
		<id column="user_payment_id" property="userPaymentId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="payment_id" property="paymentId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="admin_id" property="adminId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		user_payment_id, user_id, payment_id, create_time, admin_id
	</sql>
	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_payment
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<insert id="insertSelective" parameterType="io.clab.mpf.shop.entity.user.UserPayment">
		insert into t_user_payment 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="paymentId != null">
				payment_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="adminId != null">
				admin_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="paymentId != null">
				#{paymentId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="adminId != null">
				#{adminId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<delete id="delete" parameterType="io.clab.mpf.shop.entity.user.UserPayment">
		delete from t_user_payment where
		user_payment_id=#{userPaymentId,jdbcType=INTEGER}
	</delete>
</mapper>